
.collage-main{
    width: 100%;
    height: 100vh;
    background: url(./images/BANNER1.svg);
    background-position: center;
    background-size: cover;
}

.collage-content{
    width: 55vw;
    height: 8vh;
    position: absolute;
    transform: translate(4.2vw, 80vh);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

.collage-content h3{
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

.collage-content input{
    width: 15vw;
    height: 4vh;
    background-color: inherit;
    border: 2px solid #fff;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
    color: #fff;
    padding: 3vh 1vw ;
}

.collage-content input::placeholder{

}

.collage-content button{
    width: 6vw;
    height:5vh;
    background-color: #0EBB43;
    letter-spacing: .5px;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    transition: .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.collage-content button:hover{
    background-color: #fff;
    color: #0EBB43;
}