.banner-home{
    width: 100%;
    height: 110vh;
}

.banner-home img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

.banner-home video{
    width: 100%;
}

.btns{
    width: 50vw;
    height: 8vh;
    position: absolute;
    z-index: 1;
    transform: translate(6vw , 85vh);
    background-color: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #0EBB43;
    border-radius: 40px;
    font-family: "Hanken Grotesk", sans-serif;
}

.btns button{
    width: 50%;
    height: 100%;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btns .btn-1{
    border-radius: 40px;
    cursor: pointer;
    background-color: #0baf3c;
}

.btns .btn-1-hov{
    background-color: inherit;
    border-radius: 40px;
}

.btns .btn-1:hover{
    background-color: #fff;
    color: #0baf3c;
}

.btns .btn-2{
    cursor: pointer;
    background-color: inherit;
}

.btns .btn-2-hov{
    background-color: #0baf3c;
    color: #fff;
    border-radius: 40px;
}

.btns-1 .btn-enquiry{
    position: absolute;
    transform: translate(85vw , 85.5vh);
    border-radius: 40px;
    width: 12vw;
    height: 8vh;
    border: none;
    outline: none;
    background-color: #0baf3c;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btns-1 .btn-enquiry {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

.btns-1 .btn-enquiry:hover{
    color: #0baf3c;
}

.banner-home .btns-icon{
    position: absolute;
    cursor: pointer;
    transition: .3s ease-in-out;
    transform: translate(96vw , 60vh);
}

.banner-home .btns-icon i{
    font-size: 2rem;
    padding: 1vh  .5vw;
    color: #0baf3c;
    background-color: #fff;
    border-radius: 50%;
    transition: .3s ease-in-out;
}

.banner-home .btns-icon i:hover{
    background-color: #0baf3c;
    color: #fff;
}

.btns-1 .btn-enquiry:hover{
    background-color: #fff;
    color: #0baf3c;
}

.partiles-div{
    width: 100%;
    height: 80%;
}

#banner-particles{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
}

