
.dev{
    width: 100%;
    height: 110vh;
    /* background-image: url(./images/DEVELOPMENT.svg);
    background-size: cover;
    background-position: center; */
    position: relative;
    z-index: -2;
}

.dev .dev-img img{
    width: 100%;
    position: absolute;
    z-index: -1
}


@media (max-width:1280px) {
    .dev{
        height: 87vh;
    }
}


@media (max-width:1000px) {
    .dev{
        height: 40vh;
    }
}

@media (max-width:578px){
    .dev{
        height: 28vh;
    }
}

@media (min-height:1500px) {
    .dev{
        height: 27vh;
    }
}