
.java_syllabusfullsection{
    /* background-image: linear-gradient(to right, #007664,rgb(245, 228, 198)); */
    background-color: rgb(255, 247, 233);
    border-radius: 0 5vh 0 5vh ;
    margin: 10px;
    box-shadow: 5px 0px 15px 10px rgb(238, 234, 241);
    padding: 5vh 0vw 5vh 0vw; 
    font-family: "Hanken Grotesk", sans-serif;

    }
    .java_section3{
      /* margin: 5vh 10vw 0vh 10vw; */
      /* background-image: ; */
      color: #007664;
      
    }
    /* .fsd_section3 h1{
    } */
    
    .java_section3 ul{
      /* text-align: justify; */
      color: white;
      padding-left: 3vw;
    }
    
    .java_section3 b{
      color: white;
      /* padding: 10vh 0vw 2vh 0vw; */
      /* padding-top: 5vh; */
    }
    .java_section3 div{
     
      margin-bottom: 2vh;
    }
    .java_section3 summary{
      /* background-color: rgb(255, 255, 255); */
      color: black;
      cursor: pointer;
      padding-left: 5vh;
    }
    .java_syllabus{
      /* margin-left: 2vw; */
      color: #007664;
      font-size: 1.5rem;
      font-weight: 700;
    
    }
    
    

    
    .java_Introduction_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 0px 10px 0px 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .java_Introduction_section div{
      padding: 10px 20px 0px 20px; 
    }
    
        
    .java_IntroductionJavaProgramming_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 0px 10px 0px 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .java_IntroductionJavaProgramming_section div{
      padding: 10px 20px 0px 20px; 
    }


    .java_Fundamentals_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Fundamentals_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_ControlStructures_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .java_ControlStructures_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_InputFundamentals_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_InputFundamentals_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_ObjectOrientedProgramming_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_ObjectOrientedProgramming_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_Command_Line_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Command_Line_section div{
      padding: 10px 20px 0px 40px;
    }

    
    .java_IntegratedDevelopment_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_IntegratedDevelopment_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_InnerClass_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_InnerClass_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .java_Inheritance_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Inheritance_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .java_AbstractClasses_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_AbstractClasses_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_Polymorphism_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Polymorphism_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .java_Package_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Package_section div{
      padding: 10px 20px 0px 20px;
    }

    .java_UsingPredefined_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_UsingPredefined_section div{
      padding: 10px 20px 0px 20px;
    }

    .java_NewConcepts_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_NewConcepts_section div{
      padding: 10px 20px 0px 20px;
    }

    .java_Garbage_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Garbage_section div{
      padding: 10px 20px 0px 20px;
    }

    .java_Exception_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Exception_section div{
      padding: 10px 20px 0px 20px;
    }


    .java_Multithreading_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Multithreading_section div{
      padding: 10px 20px 0px 20px;
    }

    
    .java_InputandOutput_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_InputandOutput_section div{
      padding: 10px 20px 0px 20px;
    }

    
    .java_Serialization_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Serialization_section div{
      padding: 10px 20px 0px 20px;
    }

    
    .java_Collection_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Collection_section div{
      padding: 10px 20px 0px 20px;
    }

    .java_Swing_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .java_Swing_section div{
      padding: 10px 20px 0px 20px;
    }













/*  sm (phones) */
    
@media only screen and (max-width: 480px) {
  .c_section3 summary  {
    /* text-align: start; */
    margin: 0 auto;
    margin-left: 5vw;
    /* font-size: 19px; */
    /* display: block;  */
  }
  .c_syllabusfullsection {
    background-color: white;
    margin: 0px;
  }
  .c_section3 ul {
    /* font-size: 15px; */

  }
  .c_syllabus {
    /* font-size: 1rem; */
  }
}

/* md (tablets) */

@media only screen and  (min-width: 481px) and (max-width: 768px)  {
  
}

/*  lg (desktops) */

@media only screen and (min-width: 769px) and (max-width: 1023px) {

  .c_section3 summary {
      padding-left: 5vh;
    }

}


@media only screen and (min-width: 1024px)  {

  .c_section3 summary {
      padding-left: 5vh;
    }

}
