
.footer-main{
    width: 100%;
    height: 70vh;
    /* background-color: #def2f1; */
    background-color: #007664;
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.footer-body .footer-content-1{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.footer-content-1 .footer-head{
    border-radius: 10px;
    width: 70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-1  img{
    width: 70%;
}

.footer-content-1 .footer-content{
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.footer-content-1 .footer-content p{
    color: #d6d6d6;
    text-align: justify;
    font-weight: 200;
}

.footer-content-1 .footer-content .footer-media-icon{
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-content-1 .footer-content .footer-media-icon a{
    text-decoration: none;
}
.footer-content-1 .footer-content .footer-media-icon i {
    width: 3vw;
    height: 6vh;
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #389688;
    color: #fff;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: 1px 1px  10px 1px rgb(167, 167, 167);
}

.footer-content-1 .footer-content .footer-media-icon i:hover{
    background-color: #fff;
    color: #389688;
    transform: scale(1.2);
    /* box-shadow: 2px 1px 5px black; */
}

.footer-body .footer-content-2{
    height: 85%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:start;
}

.footer-content-2 .footer-head{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
}

.footer-content-2 .footer-content{
    width: 90%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer-content-2 .footer-content a{
    text-decoration: none;
    color:#d6d6d6;
    font-weight:200;
    margin: .5vh 0;
}
.footer-content-2 .footer-content a:hover{
    color: #fff;
}

.footer-body .footer-content-address{
    width: 20%;
    height: 80%;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-content-address .footer-add-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.footer-content-address .footer-add-div h2{
    color: #fff;
}

.footer-add-div  .footer-addres{
    width: 100%;
    margin: 2vh 0;
} 

.footer-add-div  .footer-addres a{
   color: #d6d6d6;
   font-weight: 200;
   text-decoration: none;
}

.footer-add-div  .footer-addres a:hover{
    color: #e9e9e9;
}