
.mal_syllabusfullsection{
    /* background-image: linear-gradient(to right, #007664,rgb(245, 228, 198)); */
    background-color: rgb(255, 247, 233);
    border-radius: 0 5vh 0 5vh ;
    margin: 10px;
    box-shadow: 5px 0px 15px 10px rgb(238, 234, 241);
    padding: 5vh 0vw 5vh 0vw; 
    font-family: "Hanken Grotesk", sans-serif;

    }
    .mal_section3{
      /* margin: 5vh 10vw 0vh 10vw; */
      /* background-image: ; */
      color: #007664;
      
    }
    /* .fsd_section3 h1{
    } */
    
    .mal_section3 ul{
      /* text-align: justify; */
      color: white;
      padding-left: 3vw;
    }
    
    .mal_section3 b{
      color: white;
      /* padding: 10vh 0vw 2vh 0vw; */
      /* padding-top: 5vh; */
    }
    .mal_section3 div{
     
      margin-bottom: 2vh;
    }
    .mal_section3 summary{
      /* background-color: rgb(255, 255, 255); */
      color: black;
      cursor: pointer;
      padding-left: 5vh;
    }
    .mal_syllabus{
      /* margin-left: 2vw; */
      color: #007664;
      font-size: 1.5rem;
      font-weight: 700;
    
    }
    
    
    
    .mal_Python_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 0px 10px 0px 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .mal_Python_section div{
      padding: 10px 20px 0px 20px; 
    }
    
    .mal_Structured_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .mal_Structured_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .mal_NumericalPython_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .mal_NumericalPython_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .mal_Matplotlib_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .mal_Matplotlib_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .mal_Pandas_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .mal_Pandas_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .mal_MachineLearning_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .mal_MachineLearning_section div{
      padding: 10px 20px 0px 40px;
    }
    
   
    


    



/*  sm (phones) */
    
@media only screen and (max-width: 480px) {
  .mal_section3 summary  {
    /* text-align: start; */
    margin: 0 auto;
    margin-left: 5vw;
    /* font-size: 19px; */
    /* display: block;  */
  }
  .mal_syllabusfullsection {
    background-color: white;
    margin: 0px;
  }
  .mal_section3 ul {
    /* font-size: 15px; */

  }
  .mal_syllabus {
    /* font-size: 1rem; */
  }
}

/* md (tablets) */

@media only screen and  (min-width: 481px) and (max-width: 768px)  {
  
}

/*  lg (desktops) */

@media only screen and (min-width: 769px) and (max-width: 1023px) {

  .mal_section3 summary {
      padding-left: 5vh;
    }

}


@media only screen and (min-width: 1024px)  {

  .c_section3 summary {
      padding-left: 5vh;
    }

}
