
.ccna_syllabusfullsection{
    background-color: rgb(255, 247, 233);
    border-radius: 0 5vh 0 5vh ;
    margin: 10px;
    box-shadow: 5px 0px 15px 10px rgb(238, 234, 241);
    padding: 5vh 0vw 5vh 0vw; 
    font-family: "Hanken Grotesk", sans-serif;
  }
  .ccna_section3{
    color: #007664;
  }

  .ccna_section3 ul{
    color: white;
    padding-left: 3vw;
  }
  .ccna_section3 b{
    color: white;
  
    }
    .ccna_section3 div{
     
      margin-bottom: 2vh;
    }
    .ccna_section3 summary{
      color: black;
      cursor: pointer;
      padding-left: 5vh;
    }
    .ccna_syllabus{
      color: #007664;
      font-size: 1.5rem;
      font-weight: 700;
    
    }

    .ccna_Introduction_section {
      background-color: #007664;
      padding: 0px 10px 0px 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .ccna_Introduction_section{
      padding: 10px 20px 0px 20px; 
    }
    
    .ccna_Fundamentals_section{
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .ccna_Fundamentals_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .CCNA_NetworkAccess_section {
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .CCNA_NetworkAccess_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .ccna_Connectivity_section{
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .ccna_Connectivity_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .ccna_IPServices_section{
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .ccna_IPServices_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .ccna_Security_section{
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .ccna_Security_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .ccna_Programmability_section{
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .ccna_Programmability_section div{
      padding: 10px 20px 0px 20px;
    }
    
   
    


    



/*  sm (phones) */
    
@media only screen and (max-width: 480px) {
  .c_section3 summary  {
    margin: 0 auto;
    margin-left: 5vw;
  }
  .c_syllabusfullsection {
    background-color: white;
    margin: 0px;
  }

}

/* md (tablets) */

@media only screen and  (min-width: 481px) and (max-width: 768px)  {
  
}

/*  lg (desktops) */

@media only screen and (min-width: 769px) and (max-width: 1023px) {

  .c_section3 summary {
      padding-left: 5vh;
    }

}


@media only screen and (min-width: 1024px)  {

  .c_section3 summary {
      padding-left: 5vh;
    }

}
