

.inn-content-main{
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
    background-image: url('./image/1.gif');
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(to top right , #fff ,  #00a876 , #fff); */
    /* background-color: #014d41; */
    margin: 10vh 0;
}

.inn-content-head{
    width: 85%;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;    
}

.inn-content-head h1{
    font-size: 1.8rem;
    font-weight: 800;
    color:#fff;
}

.inn-content-body{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-image: url('./image/1.gif');
    background-position: center;
    background-size: cover; */
}

.inn-content {
    width: 100%;
}

.inn-content-body .inn-content  h2{
    background-color: #fff;
    color: #00a876;
    margin: 3vh 0;
    padding: 0 2vw;
    width: fit-content;
    height: 5vh;
    text-align: center;
    border-radius: 10px 0 10px 0;
    box-shadow: 2px 1px 3px #000;
    /* position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer; */
    /* font-weight: 700; */
}

/* .own-content-body ul li::before , .own-content-body h3::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 150%;
    height: 0;
    background-color:#00a876;
    z-index: -1;
    transition: .5s ease-in-out;
    transform: rotate(-20deg);
}

.own-content-body ul li:hover::before , .own-content-body h3:hover::before{
    height: 300%;
} */



/* Second Section  */


.Devtitle{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Hanken Grotesk", sans-serif;
}

.dev-title-head{
    width: 85%;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.dev-title-head h1{
    color: #fff;
    font-size: 1.8rem;
}

.dev-title-body{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-content-div{
    width: 60%;
}

.dev-content-div h2{
    width: 10vw;
    height: 5vh;
    color:#00a876;
    background-color: #fff;
    border-radius: 10px 0 10px 0;
    margin: 2vh 0;
    box-shadow: 2px 1px 3px black;
    text-align: center;
}
