
.INAUTO_syllabusfullsection{
    /* background-image: linear-gradient(to right, #007664,rgb(245, 228, 198)); */
    background-color: rgb(255, 247, 233);
    border-radius: 0 5vh 0 5vh ;
    margin: 10px;
    box-shadow: 5px 0px 15px 10px rgb(238, 234, 241);
    padding: 5vh 0vw 5vh 0vw; 
    font-family: "Hanken Grotesk", sans-serif;

    }
    .INAUTO_section3{
      /* margin: 5vh 10vw 0vh 10vw; */
      /* background-image: ; */
      color: #007664;
      
    }
    /* .fsd_section3 h1{
    } */
    
    .INAUTO_section3 ul{
      /* text-align: justify; */
      color: white;
      padding-left: 3vw;
    }
    
    .INAUTO_section3 b{
      color: white;
      /* padding: 10vh 0vw 2vh 0vw; */
      /* padding-top: 5vh; */
    }
    .INAUTO_section3 div{
     
      margin-bottom: 2vh;
    }
    .INAUTO_section3 summary{
      /* background-color: rgb(255, 255, 255); */
      color: black;
      cursor: pointer;
      padding-left: 5vh;
    }
    .INAUTO_syllabus{
      /* margin-left: 2vw; */
      color: #007664;
      font-size: 1.5rem;
      font-weight: 700;
    
    }
    
    
    
    .cINAUTO_AUTOMATION_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 0px 10px 0px 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .cINAUTO_AUTOMATION_section div{
      padding: 10px 20px 0px 20px; 
    }
    
    .INAUTO_PLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_PLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_KEYENCEPLC_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    
    }
    .INAUTO_KEYENCEPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_DELTAPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_DELTAPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_OMRONPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_OMRONPLC_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .INAUTO_ALLENBRADLEYPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_ALLENBRADLEYPLC_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .INAUTO_SIEMENSPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_SIEMENSPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_BROWNBOWERI_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_BROWNBOWERI_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .INAUTO_MITSUBISHIPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_MITSUBISHIPLC_section div{
      padding: 10px 20px 0px 40px;
    }
    
    .INAUTO_HONEYWELLPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_HONEYWELLPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_SCHNEIDERPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_SCHNEIDERPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_PANASONICPLC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_PANASONICPLC_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_SCADA_section {
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_SCADA_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_WonderwareInTouch_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_WonderwareInTouch_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_CX_Supervisor_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_CX_Supervisor_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_i_FIX_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_i_FIX_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_AB_FactoryTalk_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_AB_FactoryTalk_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_VFD_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_VFD_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_HMI_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_HMI_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_INAUTO_ControlPanelWiring_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_INAUTO_ControlPanelWiring_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_MCC_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_MCC_section div{
      padding: 10px 20px 0px 20px;
    }
    

    .INAUTO_CONTROLALGORITHM_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_CONTROLALGORITHM_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_CONTROLALGORITHM_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_CONTROLALGORITHM_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_AutoCADElectrical_section{
      /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_AutoCADElectrical_section div{
      padding: 10px 20px 0px 20px;
    }
    
    .INAUTO_INAUTO_INDUSTRIALAPPLICATIONS_section {
        /* display: flex;
      justify-content: space-between; */
      background-color: #007664;
      padding: 10px;
      border-radius: 0vh 4vw 0vh 4vw ;
    }
    .INAUTO_INAUTO_INDUSTRIALAPPLICATIONS_section div{
      padding: 10px 20px 0px 20px;
    }







/*  sm (phones) */
    
@media only screen and (max-width: 480px) {
  .c_section3 summary  {
    /* text-align: start; */
    margin: 0 auto;
    margin-left: 5vw;
    /* font-size: 19px; */
    /* display: block;  */
  }
  .c_syllabusfullsection {
    background-color: white;
    margin: 0px;
  }
  .c_section3 ul {
    /* font-size: 15px; */

  }
  .c_syllabus {
    /* font-size: 1rem; */
  }
}

/* md (tablets) */

@media only screen and  (min-width: 481px) and (max-width: 768px)  {
  
}

/*  lg (desktops) */

@media only screen and (min-width: 769px) and (max-width: 1023px) {

  .c_section3 summary {
      padding-left: 5vh;
    }

}


@media only screen and (min-width: 1024px)  {

  .c_section3 summary {
      padding-left: 5vh;
    }

}
