.App {
    text-align: center;
  }
  
  #particles{
    /* z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center; */
    /* background-color: teal; */
    /* background: url(../nav/images/logo.png); */
    /* background-position: center;
    background-size:contain;
    background-repeat: no-repeat; */
  }

  #particles canvas{
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: -1;
    display: flex;
  }
  